

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --primary-font: "simplon";
  --secondary-font: "bebasNeue";
   --font-size-xs: 0.75rem;   /* 12px */
  --font-size-sm: 0.875rem;  /* 14px */
  --font-size-base: 1rem;    /* 16px */
  --font-size-lg: 1.125rem;  /* 18px */
  --font-size-xl: 1.5rem;   /* 24px */
  --font-size-h1:3.75rem;  /* 60px*/
  /* color variables */
  --text-primary: #1D1616;
  --text-secondary: #00827B;
  --text-tertiary:#F5F6F8;
  --yellow_color: #FFCD00;
  --bg-color-primary:#f7f7f7;
  --button-primary-bg: #00827B;
  --button-primary-text: #FFFFFF;
  --background-secondary: #F5F6F8;
}

.dark {
  --text-primary: #FFFFFF;
  --text-secondary: #1A0000;
  --text-tertiary:#F5F6F8;
  --button-primary-bg: #FED109;
  --button-primary-text: #1A0000;
  --background-secondary: #242A37;
}

html {
  font-family: var(--primary-font);
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-secondary))
    )
    rgb(var(--background-secondary));
}

@font-face {
  font-family: "simplon";
  src: url("../assets/fonts/SimplonNorm-Regular.otf");
  font-display:swap;
  font-weight: 400; 
}

@font-face {
  font-family: "bebasNeue";
  src: url("../assets/fonts/BebasNeue-Regular.otf");
  font-display:swap;
  font-weight: 400;
  font-style: normal;
}

.primaryFontBolder{
  font-family: var(--primary-font);
  font-weight: 500;
}
.primaryFontNormal{
  font-family: var(--primary-font);
  font-weight: 400;
}
.primaryFontBold{
  font-family: var(--primary-font);
  font-weight: 700;
}

.secondaryBoldWeight{
  font-family: var(--secondary-font);
  font-weight: 700;
}
.secondaryNormalWeight{
  font-family: var(--secondary-font);
  font-weight: 400;
}
.secondaryFontBolder{
  font-family: var(--secondary-font);
  font-weight: 600;
}